@page "/Game"
@using TicTacToe.UI.Engine

@inject GameEngine GameEngine

<PageTitle>Tic Tac Toe</PageTitle>


<div class="row  gy-2 gx-3 align-items-center">
    <div class="col-12">
        <h1>Tic Tac Toe </h1>
    </div>

    <div class="col-6">
        <input type="text" class="form-control" placeholder="Player 1" aria-label="Player 1" @bind="PlayerOne">
    </div>
    <div class="col-6">
        <input type="text" class="form-control" placeholder="Player 2" aria-label="Player 2" @bind="PlayerTwo">
    </div>
    <div class="col-6">
        <h4>Total Wins: @GameEngine?.playerOne?.Wins</h4>
    </div>
    <div class="col-6">
        <h4>Total Wins: @GameEngine?.playerTwo?.Wins</h4>
    </div>
    
    
    <div class="col-12 text-end">
        <button class="btn btn-dark" id="replay" @onclick="(async) => StartGame()">@label</button>
    </div>
</div>
<div class="row" style="@visibility">
    <GameBoardV2 Engine="GameEngine"></GameBoardV2>
</div>

@code {

    string visibility = "display:none;";
    string label = "Start Game";

    string? PlayerOne { get; set; }
    string? PlayerTwo { get; set; }


    private async Task StartGame()
    {
        visibility = string.Empty;
        GameEngine.SetupPlayers(PlayerOne, PlayerTwo);
        label = "Restart";
        await Task.CompletedTask;
    }

}
